<div class="competencias">
	<div class="competencia-item">
		<span class="competencia-label">Java</span>
		<div class="progress-bar">
			<div class="progress" [style.width.%]="porcentagemJava">
				<span class="progress-label">{{ porcentagemJava }}%</span>
			</div>
		</div>
	</div>
	<div class="competencia-item">
		<span class="competencia-label">Angular</span>
		<div class="progress-bar">
			<div class="progress" [style.width.%]="porcentagemAngular">
				<span class="progress-label">{{ porcentagemAngular }}%</span>
			</div>
		</div>
	</div>
	<div class="competencia-item">
		<span class="competencia-label">Adobe Photoshop</span>
		<div class="progress-bar">
			<div class="progress" [style.width.%]="porcentagemPhotoshop">
				<span class="progress-label">{{ porcentagemPhotoshop }}%</span>
			</div>
		</div>
	</div>
	<div class="competencia-item">
		<span class="competencia-label">Illustrator</span>
		<div class="progress-bar">
			<div class="progress" [style.width.%]="porcentagemIllustrator">
				<span class="progress-label">{{ porcentagemIllustrator }}%</span>
			</div>
		</div>
	</div>
</div>
