<div>
  <section class="d-flex align-items-center gap-2">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="book"></mat-icon>
    <h1 class="mb-0">Education</h1>
  </section>
  <hr>
  <section>
    <div>
      <h2>
        W3Schools.com
      </h2>
      <div class="d-flex align-items-center gap-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today" class=""></mat-icon>
        <h3 class="mb-0">Forever</h3>
      </div>
        <p>
          Web Development! All I need to know in one place
        </p>
    </div>
    <hr>
    <div>
      <h2>
        London Business School
      </h2>
      <div class="d-flex align-items-center gap-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today"></mat-icon>
        <h3 class="mb-0">2013 - 2015</h3>
      </div>
        <p>
          Master Degree
        </p>
    </div>
    <hr>
    <div>
      <h2>
        School of Coding
      </h2>
      <div class="d-flex align-items-center gap-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today"></mat-icon>
        <h3 class="mb-0">2010 - 2013</h3>
      </div>
        <p>
          Bachelor Degree
        </p>
    </div>
  </section>
  <hr>
</div>