.box-horizontal-top {
	width: 50%;
	height: 50%;
	background-color: #f7f7f7;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adicione o sombreamento */
	border-radius: 10px; /* Adicione a borda arredondada */
	position: fixed;
	right: 10%; /* Adicione uma margem direita */
	top: 3%; /* Adicione uma margem superior */
	display: flex;
	align-items: center;
	justify-content: center;
  }
  