<div>
  <section class="d-flex align-items-center gap-2">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="work"></mat-icon>
    <h1 class="mb-0">Work Experience</h1>
  </section>
  <hr>
  <section>
    <div>
      <h2>
        Front End Developer / w3schools.com
      </h2>
      <div class="d-flex align-items-center gap-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today" class=""></mat-icon>
        <h3 class="mb-0">Jan 2015 - <span>Current</span></h3>
      </div>
        <p>
          Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
        </p>
    </div>
    <hr>
    <div>
      <h2>
        Web Developer / something.com
      </h2>
      <div class="d-flex align-items-center gap-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today"></mat-icon>
        <h3 class="mb-0">Mar 2012 - Dec 2014</h3>
      </div>
        <p>
          Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
        </p>
    </div>
    <hr>
    <div>
      <h2>
        Graphic Designer / designsomething.com
      </h2>
      <div class="d-flex align-items-center gap-2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today"></mat-icon>
        <h3 class="mb-0">Jun 2010 - Mar 2012</h3>
      </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
    </div>
  </section>
  <hr>
</div>