<div class="linguagens">
	<div class="linguagem-item">
		<span class="linguagem-label">Português</span>
		<div class="progress-bar">
			<div class="progress" [style.width.%]="porcentagemPortugues">
				<span class="progress-label">{{ porcentagemPortugues }}%</span>
			</div>
		</div>
	</div>
	<div class="linguagem-item">
		<span class="linguagem-label">Inglês</span>
		<div class="progress-bar">
			<div class="progress" [style.width.%]="porcentagemIngles">
				<span class="progress-label">{{ porcentagemIngles }}%</span>
			</div>
		</div>
	</div>
	<div class="linguagem-item">
		<span class="linguagem-label">Espanhol</span>
		<div class="progress-bar">
			<div class="progress" [style.width.%]="porcentagemEspanhol">
				<span class="progress-label">{{ porcentagemEspanhol }}%</span>
			</div>
		</div>
	</div>
</div>
