<ul class="contato-list">
	<li>
		<mat-icon aria-hidden="false" aria-label="Example home icon"
			fontIcon="developer_mode"></mat-icon>
		<span>{{ contactData.job }}</span>
	</li>
	<li>
		<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
		<span>{{ contactData.address }}</span>
	</li>
	<li>
		<mat-icon aria-hidden="false" aria-label="Example home icon"
			fontIcon="email"></mat-icon>
		<span>{{ contactData.email }}</span>
	</li>
	<li>
		<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
		<span>{{ contactData.cellphone }}</span>
	</li>
	<button class="btn btn-primary" (click)="openDialog()">Me mande um e-mail!</button>
</ul>
