<ul class="contato-list">
	<li>
		<mat-icon aria-hidden="false" aria-label="Example home icon"
			fontIcon="developer_mode"></mat-icon>
		<span>Developer</span>
	</li>
	<li>
		<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
		<span>Rio Grande do Sul, Brasil</span>
	</li>
	<li>
		<mat-icon aria-hidden="false" aria-label="Example home icon"
			fontIcon="alternate_email"></mat-icon>
		<span>outlook@ibest.com</span>
	</li>
	<li>
		<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
		<span>Telefone: + 55 (99) 9999-9999</span>
	</li>
	<app-formulario-contato></app-formulario-contato>
</ul>
