<mat-card>
	<div class="form-container" (click)="stopPropagation($event)">
		<h2>Formulário de Contato</h2>
		<form [formGroup]="contactForm" (ngSubmit)="submitForm()">
			<div class="form-group">
				<label for="name">Nome:</label>
				<input type="text" class="form-control" id="name" formControlName="name">
				<mat-error
					*ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
					O nome é obrigatório.
				</mat-error>
			</div>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="email" formControlName="email">
				<mat-error
					*ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
					Por favor, insira um email válido.
				</mat-error>
			</div>
			<div class="form-group">
				<label for="message">Mensagem:</label>
				<textarea class="form-control" id="message" formControlName="message"
					maxlength="500"></textarea>
				<mat-error
					*ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
					A mensagem é obrigatória e deve ter no máximo 500 caracteres.
				</mat-error>
			</div>
			<div class="btns">
				<button class="cancel-btn" mat-flat-button type="button"
					(click)="onCancel()">Cancelar</button>
				<button class="btn btn-primary" mat-flat-button type="submit"
					[disabled]="contactForm.invalid">Enviar</button>
			</div>
		</form>
	</div>
</mat-card>
